<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/" class="nav-link">COMP2106 Lab 2</a></li>
                <li class="nav-item"><a href="/ryan" class="nav-link">Ryan</a></li>
                <li class="nav-item"><a href="/jackie" class="nav-link">Jackie</a></li>
                <li class="nav-item"><a href="/kevin" class="nav-link">Kevin</a></li>
                <li class="nav-item"><a href="/lucy" class="nav-link">Lucy</a></li>
            </ul>
        </nav>
    </header>
 